development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: spree_example_development
  pool:     5

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: spree_example_test
  pool:     5

production:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: spree_example_production
  pool:     5
